src/main/mule/hello.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="3d6e1604-5ddb-44a5-bd86-15bdd0848427" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="helloFlow" doc:id="016bd067-a8a0-45b1-bcb4-159adfc06db7" >
		<http:listener doc:name="Listener" doc:id="bea5b768-9e5c-421c-a991-8506bbde57d0" config-ref="HTTP_Listener_config" path="/test"/>
		<set-payload value='"WELCOME TO MULE"' doc:name="Set Payload" doc:id="5287006c-2add-4143-95bb-089b0e988af5" />
		<logger level="INFO" doc:name="Logger" doc:id="8e57fbca-f2d7-498a-bf2d-cc586ff9417d" message='#["Welcome" ++ payload]'/>
	</flow>
</mule>
